[Global]

# These settings can be overwritten by the instance
logfile: ucs-kvm-create.log

kvm_server: [ENV:KVM_BUILD_SERVER]
kvm_user: [ENV:KVM_USER]
kvm_dhcp: 1
kvm_interface: eth0
kvm_extra_label: ansible-modules-test-[ENV:UCS_VERSION]
kvm_template: [ENV:KVM_TEMPLATE]
kvm_ucsversion: [ENV:UCS_VERSION]
kvm_architecture: amd64
kvm_operating_system: Others

recover: 2

environment:
 UCS_VERSION=[ENV:UCS_VERSION]
 TARGET_VERSION=[ENV:UCS_VERSION]

[master]
command1:
 apt-get update
 apt-get install -y python-pip
 pip install ansible
 # unfortunately ansible-galaxy collection install git@git.knut.univention.de:univention/internal/ansible-modules.git,feature/integration_tests
 # doesn't work here, so we have to manually copy
 # TODO make that ansible-galaxy ... install ... work
 mkdir -p /root/.ansible/collections/ansible_collections/univention/ucs_modules/plugins/modules/
 mkdir -p /root/.ansible/collections/ansible_collections/univention/ucs_modules/tests/integration/targets/univention_config_registry/tasks/
 mkdir -p /root/.ansible/collections/ansible_collections/univention/ucs_modules/tests/integration/targets/univention_directory_manager/tasks/
 mv /root/modules/* /root/.ansible/collections/ansible_collections/univention/ucs_modules/plugins/modules/
 mv /root/univention_config_registry_test/*.yml /root/.ansible/collections/ansible_collections/univention/ucs_modules/tests/integration/targets/univention_config_registry/tasks/
 mv /root/univention_directory_manager_test/*.yml /root/.ansible/collections/ansible_collections/univention/ucs_modules/tests/integration/targets/univention_directory_manager/tasks/
 cd ~/.ansible/collections/ansible_collections/univention/ucs_modules && ansible-test integration
command2:
 exit 0
files:
 plugins/modules/univention_config_registry.py /root/modules/
 plugins/modules/univention_directory_manager.py /root/modules/
 tests/integration/targets/univention_config_registry/tasks/main.yml /root/univention_config_registry_test/
 tests/integration/targets/univention_directory_manager/tasks/main.yml /root/univention_directory_manager_test/
