[Global]

# These settings can be overwritten by the instance
logfile: ucs-kvm-create.log

kvm_server: [ENV:KVM_BUILD_SERVER]
kvm_user: [ENV:KVM_USER]
kvm_dhcp: 1
kvm_interface: eth0
kvm_extra_label: ansible-modules-test-[ENV:UCS_VERSION]
kvm_template: [ENV:KVM_TEMPLATE]
kvm_ucsversion: [ENV:UCS_VERSION]
kvm_architecture: amd64
kvm_operating_system: Others

recover: 2

environment:
 UCS_VERSION=[ENV:UCS_VERSION]
 TARGET_VERSION=[ENV:UCS_VERSION]

[master]
command1:
 apt-get update
 apt-get install -y ansible
 ansible-playbook -M ansible-modules/ -v ansible-tests/univention_config_registry/main.yml
 ansible-playbook -M ansible-modules/ -v ansible-tests/univention_directory_manager/main.yml
command2:
 exit 0
files:
 plugins/modules/univention_config_registry.py /root/ansible-modules/
 plugins/modules/univention_directory_manager.py /root/ansible-modules/
 tests/integration/targets/univention_config_registry/tasks/main.yml /root/ansible-tests/univention_config_registry
 tests/integration/targets/univention_directory_manager/tasks/main.yml /root/ansible-tests/univention_directory_manager
